#cta {
  width: 1440px;
  position: relative;
  height: 512px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(97.1deg, #3c36ce 22.14%, #a64eee 106.45%);
}

#cta1 {
  position: absolute;
  width: 1456px;
  height: 296px;
  left: -962px;
  background: linear-gradient(
    180deg,
    #ffffff -227.87%,
    rgba(255, 255, 255, 0) 19.28%
  );
  transform: rotate(45deg);
}

#cta2 {
  position: absolute;
  width: 1456px;
  height: 296px;
  left: -810px;
  background: linear-gradient(
    180deg,
    #ffffff -227.87%,
    rgba(255, 255, 255, 0) 19.28%
  );
  transform: rotate(45deg);
}

#cta3 {
  position: absolute;
  width: 1456px;
  height: 296px;
  left: -640px;
  background: linear-gradient(
    180deg,
    #ffffff -227.87%,
    rgba(255, 255, 255, 0) 19.28%
  );
  transform: rotate(45deg);
}

#cta4 {
  position: absolute;
  width: 1456px;
  height: 296px;
  left: 520px;
  background: linear-gradient(
    180deg,
    #ffffff -227.87%,
    rgba(255, 255, 255, 0) 19.28%
  );
  transform: rotate(45deg);
}

#Container-cta {
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#Container-cta h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 88px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  width: 815px;
  margin-bottom: 24px;
}

#Container-cta p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #e6e6e6;
  width: 815px;
  height: 64px;
}

#Container-cta button {
  margin-top: 40px;
  width: 160px;
  height: 48px;
  background: #10c9ff;
  border-radius: 40px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

@media screen and (min-width: 1081px) and (max-width: 1440px) {
  #cta {
    width: 1080px;
  }
}

@media screen and (min-width: 901px) and (max-width: 1080px) {
  #cta {
    width: 850px;
  }
  #cta3 {
    display: none;
  }
  #Container-cta {
    width: 850px;
  }
}
