#menu {
  width: 1440px;
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  z-index: 5;
}

#menu .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

#menu .menu a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  text-decoration: none;
}

#menu #btnGet {
  width: 120px;
  height: 48px;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

#btnOpen {
  display: none;
  width: 50px;
  height: 50px;
  border: none;
  color: #ffffff;
  background: transparent;
}

#boxBtn {
  width: auto;
  display: flex;
  gap: 20px;
}

.menuReponsivo {
  width: 97%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  align-items: center;
  position: absolute;
  top: 100px;
}

.menuReponsivo a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  text-decoration: none;
}

@media screen and (min-width: 1081px) and (max-width: 1440px) {
  #menu {
    width: 1080px;
  }
}

@media screen and (min-width: 901px) and (max-width: 1080px) {
  #menu {
    width: 850px;
  }

  #menu .menu {
    gap: 20px;
  }
}

@media screen and (min-width: 501px) and (max-width: 900px) {
  #menu {
    width: 97%;
    justify-content: space-between;
  }

  #menu .menu {
    display: none;
  }

  #btnOpen {
    display: block;
  }

  #boxBtn {
    width: auto;
  }
}

@media screen and (min-width: 351px) and (max-width: 500px) {
  #menu {
    width: 100%;
  }

  #menu .menu {
    display: none;
  }

  .menuReponsivo {
    width: 100%;
    height: 400px;
    background: linear-gradient(97.1deg, #3c36ce 22.14%, #a64eee 106.45%);
    opacity: 0.955;
    flex-direction: column;
  }

  .menuReponsivo a {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
  }

  #boxBtn {
    width: auto;
  }

  #btnOpen {
    display: block;
  }
}
