#menu {
  width: 1440px;
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  z-index: 5;
}

#menu nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

#menu nav a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  text-decoration: none;
}

#menu button {
  width: 120px;
  height: 48px;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

@media screen and (min-width: 1080px) and (max-width: 1439px) {
  #menu {
    width: 1080px;
  }
}
