#Table {
  width: 816px;
  height: 992px;
}

#HeaderTable {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

#HeaderTable h1 {
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #2e2e2e;
}

#HeaderTable p {
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #808080;
}

#BoxTable {
  width: 100%;
  height: auto;
  margin-top: 40px;
}

#TitleTable {
  width: 100%;
  height: 112px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#TitleTable div {
  width: 272px;
  height: 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #a34dec;
}

#TitleTable div h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
}

#TitleTable #bgColorTable {
  background: linear-gradient(97.1deg, #3c36ce 22.14%, #a64eee 106.45%);
}

.rowTable,
.rowTable2 {
  width: 816px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.rowTable2 div {
  width: 272px;
  height: 80px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: left;
}

.rowTable2 div span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #2e2e2e;
  margin-left: 24px;
}

.rowTable div {
  width: 272px;
  height: 80px;
  background: #f7fcff;
  display: flex;
  align-items: center;
  justify-content: left;
}

.rowTable div span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #2e2e2e;
  margin-left: 24px;
}

.rowTable div button {
  background: #10c9ff;
  border-radius: 40px;
  width: 224px;
  height: 48px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.rowTable2 div button {
  background: #10c9ff;
  border-radius: 40px;
  width: 224px;
  height: 48px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.rowTable #centerRowTable {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rowTable2 #centerRowTable {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  #Table {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #BoxTable {
    width: 95%;
    align-items: center;
  }

  .rowTable,
  .rowTable2 {
    width: 100%;
  }
}
