#Table2 {
  width: 100%;
  height: 992px;
  background: #f7fcff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Table2Title {
  width: 815px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

#Table2Title h1 {
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #2e2e2e;
}

#Table2Title p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #808080;
  margin: 0;
}

#TableContent {
  width: 1232px;
  margin-top: 40px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1081px) and (max-width: 1440px) {
  #TableContent {
    width: 1080px;
  }

  #TableContent img {
    width: 95%;
    height: 100%;
  }
}

@media screen and (min-width: 901px) and (max-width: 1080px) {
  #TableContent {
    width: 850px;
    height: 600px;
  }

  #TableContent img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 701px) and (max-width: 900px) {
  #Table2{
    display: none;
  }
}
