#FeedBack {
  width: 1232px;
  height: 576px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

#FeedTitle {
  width: 815px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

#FeedTitle h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #2e2e2e;
  margin: 0;
}

#FeedTitle p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #808080;
  margin: 0;
}

#FeedContent {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#FeedContent nav {
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

#FeedContent nav a.pending {
  width: 400px;
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 24px;
  text-decoration: none;
}

#FeedContent a.active {
  width: 400px;
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 24px;
  text-decoration: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#FeedContent #avatar {
  width: 62px;
  height: 62px;
  background: #ebebeb;
  border-radius: 8px;
}

#FeedContent #infoName {
  width: auto;
  height: 62px;
}

#FeedContent #infoName h1 {
  width: 266px;
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #2e2e2e;
}

#FeedContent #infoName p {
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #808080;
  text-decoration: none;
}

#CommentFeed {
  width: 712px;
  height: 392px;
}

#FeedContent nav a.pending2 {
  width: 400px;
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 24px;
  text-decoration: none;
}

#FeedContent a.active2 {
  width: 400px;
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 24px;
  text-decoration: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 1081px) and (max-width: 1440px) {
  #FeedBack {
    width: 1080px;
  }

  #FeedContent {
    width: 1080px;
    gap: 0;
  }

  #FeedContent nav a.pending {
    width: 350px;
    height: 120px;
  }

  #FeedContent a.active {
    width: 350px;
    height: 120px;
  }

  #FeedContent #infoName h1 {
    width: 200px;
  }
}

@media screen and (min-width: 901px) and (max-width: 1080px) {
  #FeedBack {
    width: 850px;
  }

  #FeedContent {
    width: 850px;
    height: auto;
    gap: 0;
  }

  #FeedContent nav a.pending {
    width: 300px;
    height: 120px;
  }

  #FeedContent a.active {
    width: 300px;
    height: 120px;
  }

  #FeedContent #infoName h1 {
    width: 200px;
  }
}

@media screen and (min-width: 701px) and (max-width: 900px) {
  #FeedBack {
    width: 690px;
    height: auto;
  }

  #FeedTitle {
    width: 690px;
    height: auto;
  }

  #FeedContent {
    gap: 32px;
    flex-direction: column;
  }

  #FeedContent nav #infoName {
    width: 100%;
  }

  #FeedContent nav #infoName h1 {
    width: 100%;
    height: auto;
  }

  #FeedContent nav #infoName p {
    width: 100%;
    height: auto;
  }

  #FeedContent #avatar {
    display: none;
  }

  #FeedContent nav {
    width: 100%;
    gap: 0;
    flex-direction: row;
  }

  #FeedContent nav a.active {
    width: 33%;
    text-align: center;
  }

  #FeedContent nav a.pending {
    width: 33%;
    text-align: center;
  }
}

@media screen and (min-width: 501px) and (max-width: 700px) {
  #FeedBack {
    width: 100%;
    height: auto;
  }

  #FeedTitle {
    width: 90%;
    height: auto;
  }

  #FeedContent {
    width: 100%;
    height: auto;
    gap: 32px;
    flex-direction: column;
  }

  #FeedContent nav #infoName {
    width: 100%;
  }

  #FeedContent nav #infoName h1 {
    width: 100%;
    height: auto;
  }

  #FeedContent nav #infoName p {
    width: 100%;
    height: auto;
  }

  #FeedContent #avatar {
    display: none;
  }

  #FeedContent nav {
    width: 100%;
    gap: 0;
    justify-content: space-around;
    flex-direction: row;
  }

  #FeedContent nav a.active {
    width: 30%;
    text-align: center;
  }

  #FeedContent nav a.pending {
    width: 30%;
    text-align: center;
  }
}

@media screen and (min-width: 351px) and (max-width: 500px) {
  #FeedBack {
    width: 100%;
    height: auto;
  }

  #FeedTitle {
    width: 95%;
    height: auto;
  }

  #FeedTitle h1 {
    font-size: 45px;
  }

  #FeedTitle p {
    width: 95%;
  }

  #FeedContent {
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  #FeedContent nav {
    display: none;
  }
}
