#ListDomain {
  width: 1232px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#ListDomain #button {
  margin-top: 40px;
  width: 40px;
  height: 40px;
  border: none;
  background: url(./Cards/assets//Vector.svg) no-repeat center transparent;
}

#titleListDomain {
  width: 816px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

#titleListDomain h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #2e2e2e;
  margin: 0;
}

#titleListDomain p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #808080;
  margin: 0;
}

#boxListMenu {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
}

#boxListMenu2 {
  width: 100%;
  height: auto;
  display: none;
  flex-direction: row;
  margin-top: 0;
}

@media screen and (min-width: 1080px) and (max-width: 1439px) {
  #ListDomain {
    width: 1080px;
  }

  #boxListMenu {
    justify-content: center;
    gap: 8px;
  }
}
