#FrequentAsk {
  width: 816px;
  height: auto;
}

#FrequentAskTitle {
  width: 815px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  height: auto;
}

#FrequentAskTitle h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #2e2e2e;
  margin: 0;
}

#FrequentAskTitle p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #808080;
  margin: 0;
}

#FrequentAskTitleQuestions {
  width: 100%;
  height: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.accordion {
  width: 816px;
  height: 104px;
  border: 1px solid #808080;
  padding: 40px;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #2e2e2e;
}

.panel {
  width: 816px;
  height: 176px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f7fcff;
}

.panel p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #2e2e2e;
  width: 736px;
  height: 96px;
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  #FrequentAsk {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #FrequentAskTitle {
    width: 690px;
  }

  .accordion {
    width: 90%;
  }

  .panel {
    width: 90%;
    height: auto;
  }

  .panel p {
    width: 90%;
    height: auto;
  }
}
